*{
    margin : 0;
    padding: 0;
}
body{
    font-family: "Dosis", sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: url(background.jpg) center no-repeat;
    background-size: cover;
}

.head-line{
    color: snow;
    font-size: 4rem;
    padding-top: 2rem;
    font-weight: 300;
    position: relative;
    text-align: center;
    justify-content: center;
}

@media only screen and (max-width: 810px) {
    .head-line {
      text-align: left;
      /* position: relative; */
    }

    .hamburger-menu{
        align-items: flex-end;
    }
  }

.head-line p{
    text-shadow: 0 2px 5px rgba(255,101,47,2);
}

.nav-bar{
    width: 300px;
    height: 100%;
    background-color: saddlebrown;
    position: fixed;
    top:0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

.transform{
    right: 0;
}

.hamburger-menu{
    width: 80px;
    height: 50px;
    position: fixed;
    top: 50px;
    right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.line{
    width: 3rem;
    height: 3px;
    background-color: snow;
    transition: all 0.8s;
    box-shadow: 0 2px 5px rgba(255,101,47,2);
    transition: all .5s ease-in-out;
    
}

.transform .line-1{
    transform: rotate(-40deg) translate(-18px, 6px);
    
}

.transform .line-2{
    opacity: 0 ;
}

.transform .line-3{
    transform: rotate(40deg) translate(-18px, -6px);
}

.hamburger-list{
    text-align: right;
}

.items{
    list-style: none;
    margin: 25px;
}

.link{
    text-decoration: none;
    font-size: 1.6rem;
    color: snow;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.link::before,
.link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color:none;
    box-shadow: 0 2px 5px rgba(255,101,47,2);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.link::before{
    bottom: 0;
    transform-origin: right;
}

.link::after{
    top: 0;
    transform-origin: left;
}

.link:hover::before,
.link:hover::after{
    transform: scaleX(1);
}

